@using MvcOnlineTicariOtomasyon.Models.Siniflar;
@model List<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h1>Kategoriler</h1>
<table class="table table-bordered mx-4" style="margin-top:20px">
    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>

            <td>
                @k.KategoriID
            </td>
            <td>
                @k.KategoriAd
            </td>
            <td>
                <a href="/Kategori/KategoriSil/@k.KategoriID" class="btn btn-danger"><i class="fa fa-trash"></i>Sil</a>
            </td>
            <td>
                <a href="/Kategori/KategoriGetir/@k.KategoriID" class="btn btn-success"><i class="fa fa-undo"></i>Güncelle</a>
            </td>

        </tr>

    }


</table>
<a href="/Kategori/KategoriEkle" class="btn btn-primary"><i class="fa fa-plus"></i> Kategori Ekle</a>

