@model MvcOnlineTicariOtomasyon.Models.Siniflar.Kategori
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2 class="mx-4"> Yeni Kategori Ekleme Sayfası</h2>
<br />
<form class="form-group mx-3" method="post">
    @Html.LabelFor(x=>x.KategoriAd)
    @Html.TextBoxFor(x=>x.KategoriAd,new {@class ="form-control"})
    <br />
    <button class="btn btn-info" >Kaydet</button>
</form> 
