@using MvcOnlineTicariOtomasyon.Models.Siniflar;
@model List<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h2 style="margin-top:20px" > Departmanlar </h2>


<table class="table table-bordered mx-4" style="margin-top:20px">
    <tr>
        <th>#</th>
        <th>Departman Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>

            <td>
                @k.Departmanid
            </td>
            <td>
                @k.DepartmanAd
            </td>
            <td>
                <a href="/Departman/DepartmanSil/@k.Departmanid" class="btn btn-danger"> <i class="fa fa-trash"></i>Sil</a>
            </td>
            <td>
                <a href="/Departman/DepartmanGetir/@k.Departmanid" class="btn btn-warning"><i class="fa fa-undo"></i>Güncelle</a>
            </td>
            <td>
                <a href="/Departman/DepartmanDetay/@k.Departmanid" class="btn btn-info"><i class="fa fa-info-circle"></i> Detaylar</a>
            </td>

        </tr>

    }


</table>
<a href="/Departman/DepartmanEkle" class="btn btn-info"><i class="fa fa-plus"></i>Departman Ekle</a>


